{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1 class="text-2xl text-yellow-500 font-bold">Welcome to the Oligos and Sequencing Website</h1>

    {% if user.is_authenticated %}
        <p>Yes hello you are logged in as <span class="text-gray-700 italic">{{ user.username }}</span>!!</p>
        <p class="underline"><a href={% url 'account_logout' %}>Log out?</a></p>
    {% else %}
        <p>Care to <a href="{% url 'account_login' %}">Log in?</a></p>
        <p>or <a href="{% url 'account_signup' %}">Sign up?</a></p>
    {% endif %}
{% endblock content %}