<html>
<head>
<title>Trusted Ticket Requester</title>
<script type="text/javascript">
  function submitForm(){
    document.getElementById('form1').action =
    document.getElementById('server').value + "/trusted";
  }
</script>
<style type="text/css">
  .style1 {width: 100%;}
  .style2 {width: 429px;}
  #server {width: 254px;}
</style>
</head>
<body>

<iframe src="http://tabserver/trusted/{{ ticket }}/views/TestData/DummyData?:embed=yes" width="800" height="600"></iframe> 

{{ ticket }}

</body>
</html>