{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock title %}

{% block content %}

    <div class="login-container">

        <div class="top-container">
            <img src="{% static "images/afl-logo.svg" %}" style="width: 300px;" alt="Agriculture and Food Lab logo">
            <img src="{% static "images/afl-header-about.png" %}" style="width: 650px;" alt="Polygons">
        </div>
        
        <div class="panel">
            <h1>Welcome to the Oligos and Sequencing Website</h1>
            <h2>Please log in</h2>
            <div class="form-div">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="button-primary">Log In</button>
                </form>
            </div>

            <div style="text-align: center;">
                <a href="{% url 'signup' %}">Sign up?</a> 
                | 
                <a href="{% url 'account_reset_password' %}">Forgot your password?</a> | <a href="#">More info about online ordering</a>
            </div>
        </div>

        <div class="peace-div">
            <img src="{% static "images/peace-of-mind.png" %}">
        </div>

    </div>

{% endblock content %}