{% extends '_base.html' %}

{% block title %}Add Templates{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container" style="width: 1000px;">
        <p>This is <strong>Step 2 of 3.</strong></p>

        <form method="post" action="">


            <div>

            <h1>Templates</h1>

                {% csrf_token %}
                {{ template_formset.management_form }}

                {% for form in template_formset %}
                    <h2>Template #{{ forloop.counter}}</h2>
                    {{ form|crispy }}
                    <hr>
                {% endfor %}
            
            </div>

            <div {% if primer_formset|length == 0 %}style="display: none"{% endif%}>

            <h1>Primers</h1>

                {% csrf_token %}
                {{ primer_formset.management_form }}

                {% for form in primer_formset %}
                    <h2>Primer #{{ forloop.counter}}</h2>
                    {{ form|crispy }}
                    <hr>
                {% endfor %}
            
            </div>

            <input type="hidden" name="template-count" value="{{ template_count }}">
            <input type="hidden" name="primer-count" value="{{ primer_count }}">
            <input type="hidden" name="reaction-count" value="{{ reaction_count }}">

            <input type="submit" name="proceed-reactions" value="Proceed to reactions" class="button-primary">
                

        </form>

    </div>

{% endblock content %}