{% extends '_base.html' %}

{% block title %}Reaction ordering{% endblock title %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container" style="width: 1000px;">
        <h1>Sequencing Orders</h1>

        <p>This is <strong>Step 3 of 3.</strong> Select template and primer combinations</p>

        <form method="post" action="">

            <div style="display:none;">
                {{ template_formset }}
                {{ primer_formset }}
            </div>


            <div>
                {% csrf_token %}
                {{ reaction_formset.management_form }}

                {% for form in reaction_formset %}
                    <h2>Reaction #{{ forloop.counter}}</h2>
                    {{ form|crispy }}
                    <hr>
                {% endfor %}

                <input type="hidden" name="template-count" value="{{ template_count }}">
                <input type="hidden" name="primer-count" value="{{ primer_count }}">
                <input type="hidden" name="reaction-count" value="{{ reaction_count }}">
                <input type="hidden" name="account-id" value="{{ account_id }}">

                <div style="display: flex; justify-content: space-between; align-items: baseline;">
                <input type="submit" name="previewing-reactions" value="Proceed to Preview" class="button-primary">
                <div>
                    View the list of 
                    <a href="{% url 'sequencing:common_primers' %}" style="text-decoration: underline;" target="_blank">Common Primers</a> 
                    <img src="{% static 'images/open-external-link.svg' %}" alt="popout window icon" class="inline-image">
                    provided by Lab Services.
                </div>
            </div>

        </form>

    </div>

{% endblock content %}