{% extends '_base.html' %}

{% block title %}Instrument and Sequencing Prep Menu{% endblock title %}

{% block content %}

    <div class="container half-width">

        <h1>Sequencing Analysis Preparation Menu</h1>

        <p>If link, great. If not link, is to-do.</p>

        <ul class="admin-list">
            <li><a href="{% url 'sequencing:worksheet_search' %}"><strong>Worksheet</strong> prep</a></li>
            <li><a href="{% url 'sequencing:worksheet_list' %}">View <strong>past worksheets</strong></a></li>
            <li><a href="{% url 'sequencing:runfile_create' %}">3100 <strong>Runfile</strong> prep</a></li>
            <li><strong>Distribute</strong> trace files</li>
            
        </ul>

    </div>

{% endblock content %}