{% extends '_base.html' %} {% block title %}Reaction ordering{% endblock title %}

{% load static %}
 {% load crispy_forms_tags %} {% block content %}

<div class="container" style="width: 1000px">
  <h1>Order Preview/Verification</h1>

  <form method="post" action="">
    {% csrf_token %}

    <div style="display: none">
      {{ template_formset }} {{ primer_formset }} {{ reaction_formset }}
    </div>

    <table class="oligo-view">
      <tr>
        <th>Count</th>
        <th>Template</th>
        <th>Primer</th>
        <th>Primer Source</th>
        <th>Hardcopy</th>
        <th>Comment</th>
      </tr>

      {% for r in reactions %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ r.template }}</td>
        <td>{{ r.primer }}</td>
        <td>{% if r.primer in common_primers %}Lab Services{% else %}Client{% endif %}</td>
        <td>{% if r.hardcopy %}Yes{% else %}No{% endif %}</td>
        <td>{{ r.comment }}</td>
      </tr>
      {% endfor %}
    </table>

    <div style="display: flex; align-items: center;">

      <div>
        <input
          type="submit"
          name="finalize-order"
          value="Place Order"
          class="button-primary"
        />
        <a href="javascript:history.back()" style="margin-left: 3rem">Go back</a>
        to make changes.
      </div>

      <div class="account-box">
        <p style="font-size: 1.25rem; font-weight: bold">
          <img src="{% static 'images/financial-account-icon.svg' %}" id="header-account-image">
          Account
        </p>
        <p><strong>Code:</strong> {{ account.code }}<br>
          <strong>Comment:</strong> {{ account.comment }}</p>
      </div>
    </div>

    <input type="hidden" name="template-count" value="{{ template_count }}" />
    <input type="hidden" name="primer-count" value="{{ primer_count }}" />
    <input type="hidden" name="reaction-count" value="{{ reaction_count }}" />
    <input type="hidden" name="account-id" value="{{ account_id }}" />

    <p>When you place the order, a printout page (completed Sequencing Report Form) will be shown.</p>
    <p>The form will be needed for your submission and no sample will be accepted without it.</p>
  </form>
</div>

{% endblock content %}
