{% extends '_base.html' %}

{% block title %}Primer {{ primer.name }} detail{% endblock %}

{% block content %}

    <div class="container half-width">

        <h1 class="centered">Details for primer {{ primer.name }}</h1>


        <div class="oligo-view">

            <p><strong>Create date:</strong> {{ primer.create_date }}</p>
            <p><strong>Concentration:</strong> {{ primer.concentration }}</p>
            <p><strong>Volume:</strong> {{ primer.volume }}</p>
            <p><strong>Sequence:</strong> {{ primer.sequence }}</p>
            <p><strong>Melting Temperature:</strong> {{ primer.melting_temperature }}</p>

        </div>

    </div>

{% endblock content %}