{% extends '_base.html' %}

{% block title %}{{ user.username }}'s Sequences{% endblock %}

{% block content %}

<h1 class="centered">Sequencing reactions for {{ user.username }}</h1>

{% if reactions %}
    <table class="oligo-view">
        <tr>
            <th>Submission ID</th>
            <th>Sequence ID</th>
            <th>Template</th>
            <th>Primer</th>
            <th>Status</th>
            <th>Submission Date</th>
            <th>Download</th>

        </tr>
        {% for reaction in reactions %}
            <tr>
                <td>{{ reaction.submission_id }}</td>
                <td>{{ reaction.sequence_id }}</td>
                <td><a href="{% url 'sequencing:template_detail' reaction.template.id %}">{{ reaction.template }}</td>
                <td><a href="{% url 'sequencing:primer_detail' reaction.primer.id %}">{{ reaction.primer }}</a></td>
                <td>{{ reaction.get_status_display }}</td>
                <td>{{ reaction.submit_date }}</td>
                <td>
                    {% if not reaction.status == 'c' %}
                        Not available
                    {% else %}
                        <a href="#">Trace</a>
                        <a href="#">Text</a>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    </table>

{% else %}

    <p>Nothing here!</p>

{% endif %}

{% endblock content %}