form {
  margin: 2rem auto;
  .asteriskField {
    color: $blood-red;
  }
  .button-primary {
    padding: 0.25rem 1rem;
    margin: 1rem 0.25rem;
    border: 1px solid $gray-500;
    border-radius: 0.25rem;
    color: $gray-800;
    background-color: $gray-200;
  }
  .button-warning {
    border: 2px solid $red-border;
    border-radius: 0.25rem;
    background-color: $red-background;
    padding: 0.25rem 1rem;
    color: $red-text;
    font-weight: 700;
    margin: 1rem;
  }
  .centered {
    text-align: center;
  }
  .error {
    color: $error-text;
    font-weight: 600;
    input {
      background-color: $error-field;
    }
  }
  .control-group {
    display: inline-block;
  }
  .form-number {
    width: 4rem;
  }
  .row-holder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid $gray-200;
    background-color: $gray-100;
    border-radius: 1rem;
    margin-bottom: 1rem;
    .controls {
      textarea {
        display: block;
      }
      .help-inline {
        margin-left: 1rem;
      }
    }
  }
  .short-input {
    width: 6rem;
  }
  &.top-bottom-m-0 {
    margin-top: 0 !important;
    margin-bottom: 0;
  }
  .tiny-input {
    width: 3rem;
    padding: 0.1rem !important;
    margin: 0 !important;
    text-align: center;
    background-color: $gray-50;
    font-size: 0.8rem !important;
  }
  label {
    font-weight: 600;
    &.visually-hidden:not(:focus):not(:active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    max-width: 4rem;
    -moz-appearance: textfield;
    text-align: right;
  }
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  select,
  textarea {
    border: 1px solid $gray-400;
    border-radius: 0.5rem;
    margin: 0.25rem 0.75rem;
    padding: 0.35rem 0.75rem;
    letter-spacing: 0.01rem;
    font-size: 1rem;
  }
  input[type="radio"] {
    display: inline;
  }
}

fieldset {
  background-color: $gray-100;
  border-radius: 1rem;
  border: 1px solid $gray-200;
  margin-bottom: 1rem;
  legend {
    background-color: white;
    border-width: 0 1px;
    border-color: $gray-300;
    border-style: solid;
    border-radius: 0.5rem;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    font-size: large;
    font-weight: 700;
  }
  .controls {
    display: flex;
    flex-direction: column;
  }
  .row-holder-fieldset {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .runfile-form {
    .asteriskField {
      display: none;
    }
    .control-group {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
    }
  }
}
