.nav-container {
  background: $blue-800;
  padding: 0.5rem 1rem;
  width: 100%;
  margin: auto;
  a {
    .nav-box:hover {
      background-color: $blue-500;
    }
  }
  .nav-group-container {
    width: $container-width;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    &.wide {
      width: 95vw;
    }
    .nav-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      .nav-box {
        border: 1px solid $blue-600;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        background-color: $blue-700;
        margin: auto 0.25rem;
        color: $blue-100;
        font-weight: bold;
        text-align: center;
        .top-row {
          border-bottom: 1px solid $blue-500;
          text-align: center;
        }
        img {
          vertical-align: middle;
        }
        .bottom-box {
          display: flex;
          flex-direction: row;
          a {
            color: $yellow-300;
            padding: 0.125rem 0.5rem;
            font-weight: normal;
            &:hover {
              color: $yellow-200;
            }
          }
          span {
            color: $blue-500;
          }
        }
        #user-icon {
          width: 1rem;
          display: inline;
        }
      }
    }
  }
}

.admin-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: 1px dashed $gray-300;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  background-color: $gray-400;
  a {
    color: $gray-300;
  }
  &:hover {
    background-color: $gray-300;
  }
}
