@import './reset';
@import './variables';
@import './base';
@import './nav';
@import './forms';
@import './login';
@import './oligos';

$midnight-blue: #1E40AF;

div.pointer-events-none > svg {
    display: none;
}


.oligo-cell {
    padding: 5px;
}

.oligo-preview-table {
    margin: 0.5rem auto;
    tr {
        th {
        border-bottom: 2px solid #010101;
    }
        td {
            text-align: center;
            padding: 0.5rem 1rem;
        }
    tr:nth-child(even) {
        background-color: gainsboro;
        }
    }
    
}