{% extends '_base.html' %}

{% block title %}Oligo Admin{% endblock title %}

{% block content %}

    <div class="container half-width">

        <h1>Oligo Administrative Actions</h1>

        <p>Here's some things I need to do...</p>
        <p>If it's a link, it should work.</p>

        <ul class="admin-list">
            <li><a href="{% url 'oligos:today_listview' %}"><strong>Today's</strong> orders</a></li>
            <li><a href="{% url 'oligos:search' %}">Oligo <strong>searches</strong></a></li>
            <li><a href="{% url 'oligos:billing' %}">Generate <strong>billing report</strong></a></li>
            <li><a href="{% url 'oligos:enter_od' %}">Enter <strong>OD readings</strong></a></li>
        </ul>

    </div>

{% endblock content %}