{% extends '_base.html' %}

{% block title %}All Ordered Oligos{% endblock title %}

{% block content %}

    <div class="container {% if not orders %}half-width{% endif %}">

        <h1>Most recent oligo orders</h1>

        {% if not orders %}

            <p><strong>No orders.</strong></p>
        
        {% else %}

            <table class="oligo-view">
                <tr>
                    <th>Order ID</th>
                    <th>Submitter</th>
                    <th>Account</th>
                    <th>Oligo Name</th>
                    <th>Sequence</th>
                    <th>Scale</th>
                    <th>Purity</th>
                    <th>Ordered</th>
                    <th>Delivered</th>
                </tr>
            {% for order in orders %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.submitter }}</td>
                    <td>{{ order.account.code }}</td>
                    <td><a href="{% url 'oligos:detail_view' pk=order.id %}">{{ order.name }}</a></td>
                    <td>{{ order.sequence }}</td>
                    <td>{{ order.scale }}</td>
                    <td>{{ order.purity }}</td>
                    <td>{{ order.created_at|date:'Y/m/d' }}</td>
                    <td>{{ order.delivery_date|date:'Y/m/d' }}</td>

                </tr>
            {% endfor %}

        {% endif %}

    </div>

{% endblock content %}