{% extends '_base.html' %}

{% block title %}All Ordered Oligos{% endblock title %}

{% block content %}

    <div {% if not orders %}class="container half-width"{% endif %}>

        <h1>Most recent oligo orders</h1>

        {% if not orders %}

            <p><strong>No orders.</strong></p>
        
        {% else %}

            <table class="oligo-view">
                <tr>
                    <th>Oligo ID</th>
                    <th>Oligo Name</th>
                    <th>Order Date</th>
                    <th>Scale</th>
                    <th>Purity</th>
                    <th>µg/µL</th>
                    <th>pmol/µL</th>
                    <th>Modification</th>
                    <th>Length</th>
                    <th>Sequence</th>
                </tr>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td style="text-align: left;"><a href="{% url 'oligos:detail_view' pk=order.id %}">{{ order.name }}</a></td>
                    <td>{{ order.created_at|date:'M d, Y' }}</td>
                    <td>{{ order.scale }}</td>
                    <td>{{ order.purity|title }}</td>
                    <td>- -</td>
                    <td>- -</td>
                    <td>{{ order.modification }}</td>
                    <td>{{ order.sequence|length }}</td>
                    <td style="text-align: left;">{{ order.dna_sequence }}</td>

                </tr>
            {% endfor %}

        {% endif %}

    </div>

{% endblock content %}