{% extends '_base.html' %}

{% block title %}Oligo Order{% endblock title %}


{% load crispy_forms_tags%}

{% block content %}

<div class="container">

    <h1>Order new oligos - Bulk Ordering</h1>

    <h2>Step 3 of 3: Verify Order</h2>


    <form method="post" action="{% url 'oligos:easy_submit' %} ">
        {% csrf_token %}

        <p>&gt;&gt; Using account {{ account.code }} - {{ account.comment }}</p>

        <br>

        <table class="oligo-view">
            <tr>
                <th>Name</th>
                <th>Length (bp)</th>
                <th>Scale</th>
                <th>Purity</th>
                <th>Modification</th>
                <th>Sequence</th>
            </tr>

            {% for oligo in oligos %}
            <tr>
                <td>{{ oligo.name }} <input type="hidden" name="oligo-{{forloop.counter0}}-name" value="{{oligo.name}}"></td>
                <td>{{ oligo.sequence|length}}</td>
                <td>{{ data.scale }}</td>
                <td>{{ data.purity|capfirst }}</td>
                <td>{% if data.modification %}{{ data.modification }}{% else %} - - {% endif %}</td>
                <td>{{ oligo.display_sequence }} <input type="hidden" name="oligo-{{forloop.counter0}}-sequence" value="{{oligo.sequence}}"></td>
            </tr>
            {% endfor %}

            <input type="hidden" name="scale" value="{{ data.scale }}">
            <input type="hidden" name="purity" value="{{ data.purity }}">
            <input type="hidden" name="modification" value="{{ data.modification }}">
            <input type="hidden" name="account_id" value="{{ account.id }}">
            <input type="hidden" name="oligo_count" value="{{ oligos|length }}">
        </table>

        <input type="submit" value="Place Order" class="button-primary">
        <p style="display: inline; margin-left: 2rem;"><a href="javascript:history.back()">Go back</a> to make changes.</p>


    </form>

</div>


{% endblock content %}