{% extends '_base.html' %}

{% block title %}Bulk order oligos{% endblock title %}


{% load crispy_forms_tags%}

{% block content %}

<div class="container half-width">

    <h1>Order new oligos - Bulk Ordering</h1>

    <h2>Step 2 of 3: Define new oligos</h2>


    <form method="post">

        {% csrf_token %}
        {{ form|crispy }}

        <input type="hidden" name="account_id" value="{{ account_id }}">

        <input type="submit" value="Proceed to preview" class="button-primary">

    </form>

</div>


{% endblock content %}