{% extends '_base.html' %}

{% block title %}Enter OD readings{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

    <div>

        <h1 style="text-align: center;">Enter OD<sub>260</sub> readings</h1>

        <div style="width: 35rem; margin:auto;">
            <p>Please enter your Oligo ID / OD<sub>260</sub> data in the text area.<br>
            The data have to be in the format specified at the bottom of this page. </p>
        </div>

        <div style="width: 35rem; margin:auto;">
            
            {% crispy form %}

            <div>
                <p>Data should be entered in the following format. It does not matter how many rows you are entering. Separators between OligoID and OD value could be tab, comma or space. Do not enter the first row (title row).</p>
                <table style="margin: auto; text-align: center; width: 10rem;">
                    <tr>
                        <td>OligoID</td>
                        <td>OD</td>
                    </tr>
                    <tr>
                        <td>5660</td>
                        <td>2.8</td>
                    </tr>
                    <tr>
                        <td>5661</td>
                        <td>3.0</td>
                    </tr>
                    <tr>
                        <td>5662</td>
                        <td>3.1</td>
                    </tr>
                    <tr>
                        <td>5663</td>
                        <td>4.5</td>
                    </tr>
                    <tr>
                        <td>5664</td>
                        <td>7.8</td>
                    </tr>
                    <tr>
                        <td>. . . </td>
                        <td>. . . </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

{% endblock content %}