{% extends '_base.html' %}

{% block title %}Details - {{ oligo.name }}{% endblock title %}

{% block content %}

    <div class="container half-width">

        <h1>Details for {{ oligo.name }}</h1>

        <div class="oligo-detail">
            {{ request.path }}
            <p><strong>Sequence:</strong> {{ oligo.sequence }} ({{ oligo.sequence|length }} bp)</p>
            <p><strong>Molecular weight:</strong> {{ oligo.molecular_weight }} g/mol</p>
            <p><strong>Submitted by:</strong> {{ oligo.submitter.display_name }}</p>
            {% if oligo.submitter.id is not oligo.account.owner.id %}
                <p><strong>Owned by:</strong> {{ oligo.account.owner.display_name }}</p>
            {% endif %}
            <p><strong>Account:</strong> {{ oligo.account.code }} - {{ oligo.account.comment }}</p>
            <p><strong>Scale:</strong> {{ oligo.scale }}</p>
            <p><strong>Purity:</strong> {{ oligo.purity }}</p>
            <p><strong>Modification:</strong> {% if oligo.modification %}{{ oligo.modification }}{% else %}None{% endif %}</p>
            <p><strong>Order date:</strong> {{ oligo.created_at }}</p>
            <p><strong>Delivery date:</strong> {% if oligo.delivery_date %}{{ oligo.delivery_date }}{% else %}Pending{% endif %}</p>

        </div>

    </div>

{% endblock content %}