{% extends '_base.html' %}

{% block title %}Number of oligos to order{% endblock title %}


{% load crispy_forms_tags%}

{% block content %}

<form method="post">

{% comment%} THIS IS THE FILLING OUT FORM SECTION -- PREVIEW SECTION IS BELOW {% endcomment %}


<div {% if previewing %}style="display:none;"{% endif %}>

<h1 class="text-2xl font-bold my-4">Step 2 of 3: Define New Oligos</h1>


{{ formset.management_form }}
{% csrf_token %}

{% for form in formset %}

    {{ form|crispy }}

    <hr class="my-8">

{% endfor%}

<input type="hidden" name="account_id" value="{{ account_id }}">

<input type="submit" name="previewing" value="Proceed to Preview" class="my-4 border border-gray-400 rounded px-3 py-1">

</div>

{% comment %} ABOVE THIS IS THE FORM TO BE SUBMITTED /// BELOW THIS LINE IS THE PREVIEW DIV{% endcomment %}

<div {% if not previewing %}style="display:none;"{% endif %}>

<h1 class="text-2xl font-bold">Step 3 of 3: Verify your orders</h1>

<table class="oligo-preview-table">
    <tr>
        <th>Name</th>
        <th>Sequence</th>
        <th>Length (bp)</th>
        <th>Scale</th>
        <th>Purity</th>
        <th>Modification</th>
    </tr>
    {% for form in formset %}
        {% if form.name %}
            <tr>
                <td class="text-center">{{ form.name.value }}</td>
                <td class="text-center">{{ form.sequence.value }}</td>
                <td class="text-center">{{ form.sequence.value|length }}</td>
                <td class="text-center">{{ form.scale.value }}</td>
                <td class="text-center">{{ form.purity.value }}</td>
                <td class="text-center">{% if form.modification.value %}{{ form.modification.value }}{% else %} - - {% endif%}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

<input type="submit" name="submitting" value="Place order"  class="my-4 border border-gray-400 rounded px-3 py-1 mx-auto">

</div>

</form>




{% endblock content %}