{% extends '_base.html' %}

{% block title %}Number of oligos to order{% endblock title %}


{% load crispy_forms_tags%}

{% block content %}

    <div class="container half-width">

        <h1>Order new oligos</h1>

        <h2>Step 1 of 3: Select account and order method</h2>


        <form method="get" action="{% url 'oligos:order_create' %}">

            <p>Please select account to be used:</p>
            <p style="text-align:center;">
                {{ form.account_id }} or
                <button type="button" onclick="gotoAccounts()" class="button-primary">Add an account</button>
            </p>


            <p style="text-align:center;">How many different oligos are you ordering today: {{ form.oligo_count }}</p>

            <p style="text-align:center"><input type="submit" name="creating" value="Proceed" class="button-primary" style="padding: 0.25rem 3rem;"></p>

            <hr>


            <div class="pt-8">If you have a large number of oligos to order you might prefer using
                <input type="submit" class="button-primary" value="Easy Order" formaction="{% url 'oligos:easy_order' %}">
            </div>

        </form>

        </form>

    </div>

    <script>
        const gotoAccounts = () => {
            window.location.assign("{% url 'view_user_accounts' %}");

        }
    </script>


{% endblock content %}