{% extends '_base.html' %}

{% block title %}Number of oligos to order{% endblock title %}


{% load crispy_forms_tags%}

{% block content %}

    <div class="container" style="width: 65rem;">

        <form method="post" style="margin: 0;">

            {% comment%} THIS IS THE FILLING OUT FORM SECTION -- PREVIEW SECTION IS BELOW {% endcomment %}


            <div {% if previewing %}style="display:none;"{% endif %}>

                <h1>Order new oligos</h1>

                <h2>Step 2 of 3: Define New Oligos</h2>

                {{ formset.management_form }}
                {% csrf_token %}

                {% for form in formset %}
                <div class="new-oligo-box">
                    <h2>Oligo number {{ forloop.counter }}</h2>
                    <br>

                    <div class="display-box">
                        {{ form.name|as_crispy_field }}
                        {{ form.sequence|as_crispy_field }}
                        {{ form.modification|as_crispy_field}}
                    </div>

                    <br>

                    <div class="display-box">
                        {{ form.scale|as_crispy_field}}
                        {{ form.purity|as_crispy_field}}
                    </div>
                    
                </div>
                {% endfor%}

                <input type="hidden" name="account_id" value="{{ account_id }}">

                <input type="submit" name="previewing" value="Proceed to Preview" class="button-primary">

            </div>

            {% comment %} ABOVE THIS IS THE FORM TO BE SUBMITTED /// BELOW THIS LINE IS THE PREVIEW DIV{% endcomment %}

            <div {% if not previewing %}style="display:none;"{% endif %}>

                <h1>Step 3 of 3: Verify your orders</h1>

                <table class="oligo-view">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Sequence</th>
                        <th>Length (bp)</th>
                        <th>Scale</th>
                        <th>Purity</th>
                        <th>Modification</th>
                    </tr>
                    {% for form in formset %}
                        {% if form.name.value|length > 0 %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ form.name.value }}</td>
                                <td>{{ form.sequence.value|upper }}</td>
                                <td>{{ form.sequence.value|length }}</td>
                                <td>{{ form.scale.value }}</td>
                                <td>{{ form.purity.value }}</td>
                                <td>{% if form.modification.value %}{{ form.modification.value }}{% else %} - - {% endif%}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>

                <input type="submit" name="submitting" value="Place order"  class="button-primary">

            </div>

        </form>

    </div>

{% endblock content %}