{% extends '_base.html' %}

{% block title %}Number of oligos to order{% endblock title %}


{% load crispy_forms_tags%}

{% block content %}

    <div class="container half-width">

        <h1>Order new oligos</h1>

        <h2>Step 1 of 3: Select account and method</h2>


        <form method="get" action="{% url 'oligos:order_create' %}">

            <p>Please select account to be used: {{ form.account_id }}</p>

            <hr>

            <p>How many different oligos are you ordering today: {{ form.oligo_count }}</p>

            <input type="submit" name="creating" value="Proceed" class="button-primary">


            <div class="pt-8">If you have a large number of oligos to order you might prefer using
                <input type="submit" class="button-primary" value="Bulk Order" formaction="{% url 'oligos:easy_order' %}">
            </div>

        </form>

        </form>

    </div>




{% endblock content %}