{% extends '_base.html' %}

{% block title %}Oligo Report{% endblock title %}

{% block content %}

    <div class="container">

        <div class="report-box">
            <h1>Custom Oligo Analysis Report - calculated as Liquid.</h1>

            <table class="oligo-view" style="max-width: 1280px;">
                <tr>
                    <th>Oligo Name</th>
                    <th>Sequence</th>
                    <th>Size</th>
                    <th>µg/µL</th>
                    <th>pmol/µL</th>
                </tr>

                {% for oligo in oligos %}
                    <tr>
                        <td style="text-align: left;">{{ oligo.name }}</td>
                        <td style="text-align:left;">{{ oligo.dna_sequence }}</td>
                        <td>{{ oligo.sequence|length }}</td>
                        <td>{% if oligo.micrograms_per_microliter %}{{ oligo.micrograms_per_microliter }}{% else %} - -{% endif %}</td>
                        <td>{% if oligo.pmol_per_microliter %}{{ oligo.pmol_per_microliter }}{% else %} - -{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <hr>

        <div class="report-box">
            <h1>Custom Oligo Analysis Report - calculated as Powder (95 µL).</h1>

            <table class="oligo-view" style="max-width: 1280px;">
                <tr>
                    <th>Oligo Name</th>
                    <th>Sequence</th>
                    <th>Size</th>
                    <th>µg</th>
                    <th>nmol</th>
                </tr>

                {% for oligo in oligos %}
                    <tr>
                        <td style="text-align: left;">{{ oligo.name }}</td>
                        <td style="text-align:left;">{{ oligo.dna_sequence }}</td>
                        <td>{{ oligo.sequence|length }}</td>
                        <td>{% if oligo.micrograms95 %}{{ oligo.micrograms95 }}{% else %} - - {% endif %}</td>
                        <td>{% if oligo.micrograms95 %}{{ oligo.nmols95 }}{% else %} - - {% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="report-box">
            <h1>Custom Oligo Analysis Report - calculated as Powder (195 µL).</h1>

            <table class="oligo-view" style="max-width: 1280px;">
                <tr>
                    <th>Oligo Name</th>
                    <th>Sequence</th>
                    <th>Size</th>
                    <th>ng</th>
                    <th>nmol</th>
                </tr>

                {% for oligo in oligos %}
                    <tr>
                        <td style="text-align: left;">{{ oligo.name }}</td>
                        <td style="text-align:left;">{{ oligo.dna_sequence }}</td>
                        <td>{{ oligo.sequence|length }}</td>
                        <td>{% if oligo.micrograms195 %}{{ oligo.micrograms195 }}{% else %} - - {% endif %}</td>
                        <td>{% if oligo.micrograms195 %}{{ oligo.nmols195 }}{% else %} - - {% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>



    </div>

{% endblock content %}