*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Segoe UI"; }

table {
  padding: 0.5rem;
  border-collapse: collapse; }
  table th {
    font-weight: bold; }
  table td {
    padding: 6px; }

div {
  padding: 0.2rem; }

a {
  text-decoration: none;
  color: #1d4ed8; }
  a:visited {
    color: #1e40af; }

h1 {
  font-size: x-large;
  font-weight: bold;
  margin: 1rem 0; }
  h1.centered {
    text-align: center; }

p {
  margin: 1rem 0; }
  p a {
    color: #1d4ed8;
    text-decoration: underline; }
  p:visited {
    color: #1e40af; }
  p strong {
    font-weight: bold; }

ul li {
  margin: 0.25rem 1rem; }
  ul li a {
    text-decoration: underline;
    color: #2563eb; }
    ul li a:visited {
      color: #1e3a8a; }

ul.edit-accounts li {
  margin: 0.5rem 1rem; }
  ul.edit-accounts li a {
    display: block;
    padding: 1rem;
    border: 1px solid #9ca3af;
    background-color: #e5e7eb;
    border-radius: 1rem; }
    ul.edit-accounts li a:hover {
      background-color: #f3f4f6; }

.container {
  max-width: 80rem;
  margin: auto; }
  .container .half-width {
    max-width: 40rem; }
  .container .page-container {
    margin: auto; }

.messages-container {
  max-width: 30rem;
  margin: auto;
  margin-top: 0.5rem; }
  .messages-container div {
    border: 1px solid #999;
    border-radius: 0.25rem;
    margin: 0.25rem auto;
    padding: 0.25rem 0.5rem;
    background-color: #ddd;
    font-family: monospace;
    font-size: 0.9rem; }

header .ugls-header-banner {
  background: #6b7478;
  border-bottom: 2px solid #af272f;
  line-height: 24px; }
  header .ugls-header-banner .ugls-header {
    max-width: 80rem;
    margin: auto;
    padding: 0; }
    header .ugls-header-banner .ugls-header .ugls-identifier {
      width: 175px;
      margin-left: auto;
      margin-right: 0;
      padding: 0; }

.nav-container {
  background: #1e40af;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .nav-container .nav-box {
    border: 1px solid #2563eb;
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
    background-color: #1d4ed8;
    margin: auto 0.3rem;
    color: #dbeafe;
    font-weight: bold; }
    .nav-container .nav-box .top-row {
      border-bottom: 1px solid #3b82f6;
      text-align: center; }
    .nav-container .nav-box img {
      vertical-align: middle; }
    .nav-container .nav-box .bottom-box {
      display: flex;
      flex-direction: row; }
      .nav-container .nav-box .bottom-box a {
        color: #fcd34d;
        padding: 0 0.75rem;
        font-weight: normal; }
        .nav-container .nav-box .bottom-box a:hover {
          color: #fde68a; }
      .nav-container .nav-box .bottom-box span {
        color: #3b82f6; }
    .nav-container .nav-box #user-icon {
      width: 1rem;
      display: inline; }

.admin-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: 1px dashed #d1d5db;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  background-color: #9ca3af; }
  .admin-link a {
    color: #d1d5db; }
  .admin-link:hover {
    background-color: #d1d5db; }

form {
  margin: 2rem auto; }
  form .asteriskField {
    color: #AF272F; }
  form .button-primary {
    padding: 0.25rem 1rem;
    margin: 1rem 0.25rem;
    border: 1px solid #6b7280;
    border-radius: 0.25rem;
    color: #1f2937;
    background-color: #e5e7eb; }
  form label {
    font-weight: 600; }
  form input[type=number] {
    max-width: 4rem; }
  form input[type=text], form input[type=password], form input[type=number], form input[type=email], form select, form textarea {
    border: 1px solid #9ca3af;
    border-radius: 0.5rem;
    margin: 0.5rem 0.75rem;
    padding: 0.35rem 0.75rem;
    letter-spacing: 0.01rem;
    font-size: 1rem; }
  form input[type=radio] {
    display: inline; }
  form textarea {
    width: 100%; }

.login-container {
  width: 100%; }
  .login-container .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; }
  .login-container .panel {
    margin: 2.5rem auto;
    padding: 0.75rem;
    box-shadow: 1px 1px #d1d5db;
    border-radius: 0.5rem;
    background-color: #f3f4f6;
    max-width: 800px; }
    .login-container .panel .form-div {
      width: 50%;
      margin: 0.5rem auto; }
      .login-container .panel .form-div .asteriskField {
        display: none; }
  .login-container h1 {
    font-size: xx-large;
    color: #AF272F;
    margin: auto;
    text-align: center; }
  .login-container h2 {
    font-size: x-large;
    font-weight: bold;
    color: #1d4ed8;
    margin-left: 4rem; }
  .login-container .button-primary {
    margin-left: 1rem;
    padding: 0.25rem 1rem; }
  .login-container a {
    color: #1d4ed8;
    text-decoration: underline;
    margin: 0 0.5rem; }
  .login-container .peace-div {
    max-width: 80rem; }

.half-width h2 {
  font-size: large;
  font-weight: bold; }

.half-width a {
  color: #1d4ed8; }
  .half-width a:visited {
    color: #1e3a8a; }

.new-oligo-box {
  margin-top: 3rem;
  border-top: 2px solid #d1d5db;
  border-bottom: 2px solid #6b7280;
  border-radius: 1rem;
  padding: 0 1rem; }
  .new-oligo-box h2 {
    width: 100%;
    border-bottom: 1px solid #6b7280;
    padding-top: 0.5rem; }

.oligo-detail {
  padding-left: 1rem; }

.oligo-view {
  margin: 1rem auto; }
  .oligo-view tr:nth-child(1) {
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #111827; }
  .oligo-view tr:nth-child(even) {
    background-color: #f3f4f6; }
  .oligo-view tr:last-child {
    border-bottom: 1px solid #374151; }
  .oligo-view tr th {
    padding: 0.5rem 1rem;
    text-align: center; }
  .oligo-view tr td {
    text-align: center;
    padding: 0.3rem 1rem; }
    .oligo-view tr td a {
      color: #1d4ed8;
      text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */