*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Segoe UI"; }

table {
  padding: 0.5rem;
  border-collapse: collapse; }
  table th {
    font-weight: bold; }
  table td {
    padding: 6px; }

div {
  padding: 0.2rem; }

a {
  text-decoration: none;
  color: #1d4ed8; }
  a:visited {
    color: #1e3a8a; }

h1 {
  font-size: x-large;
  font-weight: bold;
  margin: 1rem 0 0.25rem 0; }
  h1.centered {
    text-align: center; }

p {
  margin: 1rem 0;
  line-height: normal; }
  p a {
    color: #1d4ed8;
    text-decoration: underline; }
  p:visited {
    color: #1e3a8a; }
  p strong {
    font-weight: bold; }

ul li {
  margin: 0.25rem 1rem; }
  ul li a {
    text-decoration: underline;
    color: #2563eb; }
    ul li a:visited {
      color: #1e3a8a; }

ul.edit-accounts li {
  margin: 0.5rem 1rem; }
  ul.edit-accounts li a {
    display: block;
    padding: 1rem;
    border: 1px solid #9ca3af;
    background-color: #e5e7eb;
    border-radius: 1rem; }
    ul.edit-accounts li a:hover {
      background-color: #f3f4f6; }

sub {
  vertical-align: sub;
  font-size: 0.8rem; }

.container {
  max-width: 80rem;
  margin: auto; }
  .container.half-width {
    max-width: 40rem; }
  .container .page-container {
    margin: auto; }

.inactive-user {
  background-color: #374151 !important;
  color: #f9fafb; }

.messages-container {
  max-width: 30rem;
  margin: auto;
  margin-top: 0.5rem; }
  .messages-container div {
    margin: 0.25rem auto;
    padding: 0.5rem 0.75rem;
    font-family: monospace;
    font-size: 0.9rem;
    border-radius: 0.5rem; }
  .messages-container .success {
    border: 1px solid #047857;
    background-color: #d1fae5;
    color: #065f46; }
  .messages-container .info {
    border: 1px solid #0e7490;
    background-color: #cffafe;
    color: #155e75; }
  .messages-container .warning {
    border: 1px solid #9f1239;
    background-color: #ffe4e6;
    color: #9f1239; }

.pagination-box {
  width: 30rem;
  margin: auto;
  text-align: center; }
  .pagination-box a {
    padding: 0 1rem; }

header .ugls-header-banner {
  background: #6b7478;
  border-bottom: 2px solid #af272f;
  line-height: 24px; }
  header .ugls-header-banner .ugls-header {
    max-width: 80rem;
    margin: auto;
    padding: 0; }
    header .ugls-header-banner .ugls-header .ugls-identifier {
      width: 175px;
      margin-left: auto;
      margin-right: 0;
      padding: 0; }

.warning-text {
  color: #af272f; }

.nav-container {
  background: #1e40af;
  padding: 0.5rem 1rem;
  width: 100%;
  margin: auto; }
  .nav-container a .nav-box:hover {
    background-color: #3b82f6; }
  .nav-container .nav-group-container {
    width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    .nav-container .nav-group-container.wide {
      width: 95vw; }
    .nav-container .nav-group-container .nav-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%; }
      .nav-container .nav-group-container .nav-group .nav-box {
        border: 1px solid #2563eb;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        background-color: #1d4ed8;
        margin: auto 0.35rem;
        color: #dbeafe;
        font-weight: bold;
        text-align: center; }
        .nav-container .nav-group-container .nav-group .nav-box .top-row {
          border-bottom: 1px solid #3b82f6;
          text-align: center; }
        .nav-container .nav-group-container .nav-group .nav-box img {
          vertical-align: middle; }
        .nav-container .nav-group-container .nav-group .nav-box .bottom-box {
          display: flex;
          flex-direction: row; }
          .nav-container .nav-group-container .nav-group .nav-box .bottom-box a {
            color: #fcd34d;
            padding: 0.125rem 0.5rem;
            font-weight: normal; }
            .nav-container .nav-group-container .nav-group .nav-box .bottom-box a:hover {
              color: #fde68a; }
          .nav-container .nav-group-container .nav-group .nav-box .bottom-box span {
            color: #3b82f6; }
        .nav-container .nav-group-container .nav-group .nav-box #user-icon {
          width: 1rem;
          display: inline; }

.admin-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: 1px dashed #d1d5db;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  background-color: #9ca3af; }
  .admin-link a {
    color: #d1d5db; }
  .admin-link:hover {
    background-color: #d1d5db; }

form {
  margin: 2rem auto; }
  form .asteriskField {
    color: #af272f; }
  form .button-primary {
    padding: 0.25rem 1rem;
    margin: 1rem 0.25rem;
    border: 1px solid #6b7280;
    border-radius: 0.25rem;
    color: #1f2937;
    background-color: #e5e7eb; }
  form .button-warning {
    border: 2px solid #9f1239;
    border-radius: 0.25rem;
    background-color: #ffe4e6;
    padding: 0.25rem 1rem;
    color: #9f1239;
    font-weight: 700;
    margin: 1rem; }
  form .control-group {
    display: inline-block; }
  form .form-number {
    width: 4rem; }
  form .row-holder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #e5e7eb;
    background-color: #f3f4f6;
    border-radius: 1rem;
    margin-bottom: 1rem; }
    form .row-holder .controls textarea {
      display: block; }
    form .row-holder .controls .help-inline {
      margin-left: 1rem; }
  form .short-input {
    width: 6rem; }
  form.top-bottom-m-0 {
    margin-top: 0 !important;
    margin-bottom: 0; }
  form label {
    font-weight: 600; }
  form input::-webkit-outer-spin-button,
  form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  form input[type="number"] {
    max-width: 4rem;
    -moz-appearance: textfield; }
  form input[type="text"],
  form input[type="password"],
  form input[type="number"],
  form input[type="email"],
  form select,
  form textarea {
    border: 1px solid #9ca3af;
    border-radius: 0.5rem;
    margin: 0.5rem 0.75rem;
    padding: 0.35rem 0.75rem;
    letter-spacing: 0.01rem;
    font-size: 1rem; }
  form input[type="radio"] {
    display: inline; }

fieldset {
  background-color: #f3f4f6;
  border-radius: 1rem;
  border: 1px solid #e5e7eb;
  margin-bottom: 1rem; }
  fieldset legend {
    background-color: white;
    border-width: 0 1px;
    border-color: #d1d5db;
    border-style: solid;
    border-radius: 0.5rem;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    font-size: large;
    font-weight: 700; }
  fieldset .row-holder-fieldset {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
  fieldset .controls {
    display: flex;
    flex-direction: column; }

.login-container {
  width: 100%; }
  .login-container .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; }
  .login-container .panel {
    margin: 2.5rem auto;
    padding: 0.75rem;
    max-width: 800px; }
    .login-container .panel .form-div {
      width: 50%;
      margin: 2rem auto;
      box-shadow: 1px 1px #d1d5db;
      border-radius: 0.5rem;
      background-color: #f3f4f6;
      padding-left: 4rem; }
      .login-container .panel .form-div .asteriskField {
        display: none; }
      .login-container .panel .form-div form {
        margin: 0.25rem 0; }
  .login-container h1 {
    font-size: xx-large;
    color: #af272f;
    margin: auto;
    text-align: center; }
  .login-container h2 {
    font-size: x-large;
    font-weight: bold;
    color: #1d4ed8;
    margin-left: 4rem; }
  .login-container .button-primary {
    margin-left: 1rem;
    padding: 0.25rem 1rem; }
  .login-container a {
    color: #1d4ed8;
    text-decoration: underline;
    margin: 0 0.5rem; }
  .login-container .peace-div {
    max-width: 80rem; }

.billing-container {
  max-width: 1280px;
  min-width: 25%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }
  .billing-container .billing-box {
    border: 1px solid #1e40af;
    border-radius: 0.5rem;
    background-color: #eff6ff;
    padding: 1rem;
    margin: 1rem 2rem; }
    .billing-container .billing-box h2 {
      display: inline;
      font-weight: 700; }
  .billing-container .price-form {
    padding: 1rem; }
    .billing-container .price-form th {
      padding: 0; }
    .billing-container .price-form th:first-child {
      text-align: left; }
    .billing-container .price-form p {
      margin: 0.125rem 0; }
    .billing-container .price-form input[type="number"] {
      max-width: 5rem;
      margin: 0.125rem 1rem;
      font-size: 0.85rem; }

.delete-box {
  border: 1px solid;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 1rem; }
  .delete-box strong {
    font-weight: 700; }

.delivery-box {
  border: 1px solid #1e40af;
  background-color: #eff6ff;
  border-radius: 1rem;
  width: 50rem;
  margin: 1rem auto;
  padding: 0.75rem; }
  .delivery-box div {
    text-align: center;
    margin: 0 auto; }
    .delivery-box div button {
      margin: 0; }
  .delivery-box p {
    margin: 0.25rem 0.5rem;
    line-height: 1.25rem; }
    .delivery-box p em {
      font-style: italic; }

.half-width {
  line-height: 1.1rem; }
  .half-width h2 {
    font-size: large;
    font-weight: bold; }
  .half-width a {
    color: #1d4ed8; }
    .half-width a:visited {
      color: #1e3a8a; }

.inline-image {
  height: 0.7rem;
  width: 0.7rem;
  margin: 0, 0.1rem;
  filter: invert(44%) sepia(7%) saturate(703%) hue-rotate(182deg) brightness(98%) contrast(94%); }

.new-oligo-box {
  margin-top: 1rem;
  border-top: 2px solid #d1d5db;
  border-bottom: 2px solid #6b7280;
  border-radius: 1rem; }
  .new-oligo-box h2 {
    font-size: large;
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid #6b7280;
    padding: 0.5rem; }
  .new-oligo-box .control-group,
  .new-oligo-box .controls,
  .new-oligo-box .control-label {
    display: inline;
    margin: 0;
    padding: 0; }
  .new-oligo-box .display-box {
    display: flex;
    justify-content: space-evenly;
    padding: 0; }

.oligo-detail {
  padding-left: 1rem; }

.oligo-view {
  width: 100%;
  font-size: 0.92rem;
  margin: 1rem auto;
  border-bottom: 1px solid #374151; }
  .oligo-view .blue-text {
    color: blue; }
  .oligo-view .pink-text {
    color: magenta; }
  .oligo-view tr:nth-child(1) {
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #111827; }
  .oligo-view tr:nth-child(even) {
    background-color: #e5e7eb; }
  .oligo-view tr th {
    padding: 0.5rem 0.125rem;
    text-align: center; }
  .oligo-view tr td {
    text-align: center;
    padding: 0.3rem 0.125rem; }
    .oligo-view tr td a {
      color: #1d4ed8;
      text-decoration: underline; }
      .oligo-view tr td a:visited {
        color: #1e3a8a; }

.searches-container {
  max-width: 1280px;
  min-width: 25%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .searches-container form {
    margin: 0.5rem; }
  .searches-container .search-box {
    border: 1px solid #1e40af;
    border-radius: 0.5rem;
    background-color: #eff6ff;
    padding: 1rem;
    margin: 1rem 2rem; }
    .searches-container .search-box h2 {
      display: inline;
      font-weight: 700; }
    .searches-container .search-box input[type="text"] {
      margin: 0.125rem;
      padding: 0.25rem 0.5rem; }

.pagination {
  width: 30rem;
  margin: auto;
  text-align: center; }
  .pagination a {
    padding: 0.25rem 0.5rem; }

.sequencing-question {
  border: 1px solid #9ca3af;
  border-radius: 1rem;
  background-color: #f3f4f6;
  text-align: center;
  padding: 0.5rem;
  margin: 0.75rem 1rem; }
  .sequencing-question p {
    margin: 0; }

.admin-list li {
  display: block;
  margin: 0.5rem 1rem;
  font-size: 1.2rem; }
  .admin-list li strong {
    font-weight: 700; }
  .admin-list li a {
    display: block;
    padding: 1rem;
    color: #1d4ed8;
    text-decoration: none;
    border: 1px solid #3b82f6;
    border-radius: 0.5rem;
    background-color: #dbeafe; }
    .admin-list li a:hover {
      background-color: #eff6ff; }

/*# sourceMappingURL=styles.css.map */