{% extends '_base.html' %}

{% block title %}Financial Accounts{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container half-width">

        <h1>List of financial accounts for {{ user.display_name }}</h1>

        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
                {% if forloop.last %}
                <hr class="my-4">
                <div style="margin: 1rem 0; font-size: large; font-weight: bold;">Add a new account:</div>
                {% endif %}
                {{ form|crispy }}
            {% endfor %}
        
            <input type="submit" value="Save" class="button-primary">

        </form>

    </div>

{% endblock content %}