{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Approve Students{% endblock title %}

{% block content %}

    <div class="container half-width">

        <h1>List of students for {{ user.display_name }}</h1>

        <p>Use dropdown list to choose account for each student.</p>

        <form method="post">
            {{ formset.management_form }}

                {% for form in formset %}
                    {{form.as_p }}
                    <hr class="py-4">
                {%empty %}
                <p><strong>No students pending approval.</strong></p>
                {% endfor %}

            {% csrf_token %}

            {% if formset|length > 0 %}
                <input type="submit" value="Save" class="button-primary">
            {% endif %}

        </form>

    </div>

{% endblock content %}