{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create account{% endblock title %}

{% block content %}

    <div class="container" style="width: 35rem;">
        <h1>Create Account</h1>

        <form method="post" action="" autocomplete="off">
            {% csrf_token %}
            
            <div class="signup-block"> 
                <p style="font-weight: 600;">Please select one:</h2>
                {{ form.user_type }}
            </div>

            <hr>

            <div class="signup-block">
                <div>
                    {{ form.username|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                </div>

                <div>
                    {{ form.password1|as_crispy_field }}
                </div>
                <div>
                    {{ form.password2|as_crispy_field }}
                </div>

                <hr>

                <div>
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                </div>

                <div>
                    {{ form.institution|as_crispy_field }}
                </div>

                <div>
                    {{ form.department|as_crispy_field }}
                    {{ form.room_number|as_crispy_field }}
                </div>

                <div>
                    {{ form.phone|as_crispy_field }}
                    {{ form.extension|as_crispy_field }}
                </div>

                <div>
                    {{ form.address|as_crispy_field }}<br>
                    {{ form.city|as_crispy_field }}<br>
                    {{ form.province|as_crispy_field }}<br>
                    {{ form.country|as_crispy_field }}
                    {{ form.postal_code|as_crispy_field }}
                </div>
                
            </div>

            <div style="width: 100%; text-align:center">
                <button type="submit" class="button-primary" style="width: 50%; font-weight: 700;">Sign Up</button>
            </div>
        </form>
    </div>

    <script>
        const deptRequired = (required) => {
            const deptInput = document.querySelector('#id_department');
            const deptLabel = document.querySelector('label[for="id_department"]');
            if (required) {
                deptInput.required = true;
                deptLabel.innerHTML = 'Department<span class="asteriskField">*</span>';
            } else {
                deptInput.required = false;
                deptLabel.innerHTML = 'Department';
            }
        }
        const checkInternalForm = (event) => {
            selected = document.querySelector('input[name="user_type"]:checked').value;

            institutionInput = document.querySelector('#id_institution');
            addressInput = document.querySelector('#id_address');
            cityInput = document.querySelector('#id_city');
            provinceInput = document.querySelector('#id_province');
            countryInput = document.querySelector('#id_country');
            pcInput = document.querySelector('#id_postal_code');

            institutionDiv = document.querySelector('#div_id_institution');
            addressDiv = document.querySelector('#div_id_address');
            cityDiv = document.querySelector('#div_id_city');
            provinceDiv = document.querySelector('#div_id_province');
            countryDiv = document.querySelector('#div_id_country');
            pcDiv = document.querySelector('#div_id_postal_code');
            deptDiv = document.querySelector('#div_id_department');
            roomDiv = document.querySelector('#div_id_room_number');

            if ('sp'.includes(selected)) {
                institutionInput.value = 'University of Guelph';
                addressInput.value = '50 Stone Road East';
                cityInput.value = 'Guelph';
                provinceInput.value = 'Ontario';
                countryInput.value = 'Canada';
                pcInput.value = 'N1G 2W1';
                institutionDiv.style.display = 'none';
                addressDiv.style.display = 'none';
                cityDiv.style.display = 'none';
                provinceDiv.style.display = 'none';
                countryDiv.style.display = 'none';
                pcDiv.style.display = 'none';
                deptDiv.style.display = 'inline-block';
                roomDiv.style.display = 'inline-block';
                deptRequired(true);
            }
            else {
                institutionInput.value = '';
                addressInput.value = '';
                cityInput.value = '';
                provinceInput.value = '';
                countryInput.value = '';
                pcInput.value = '';
                institutionDiv.style.display = 'inline-block';
                addressDiv.style.display = 'inline-block';
                cityDiv.style.display = 'inline-block';
                provinceDiv.style.display = 'inline-block';
                countryDiv.style.display = 'inline-block';
                pcDiv.style.display = 'inline-block';
                roomDiv.style.display = 'none';
                deptDiv.style.display = 'none';
                deptRequired(false);
            }

            
        }
        let choiceSelect = document.getElementsByName('user_type');
        for (choice of choiceSelect) {
            choice.addEventListener('change', checkInternalForm);
        }

    </script>
    
{% endblock content %}