{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Approve Students{% endblock title %}

{% block content %}

    <div class="container half-width">

        <h1>List of students for {{ user.display_name }}</h1>

        <p>Use dropdown list to choose account for each student. For privacy reasons, to add a new student, the student must request approval from their account.</p>

        {% if formset|length > 1 %}
            <form method="post">
                {{ formset.management_form }}

                    {% for form in formset %}
                        {% if forloop.last %}
                        <div style="">Use the following form to add an account to an existing student.</div>
                        {% else %}
                        <hr class="py-4">
                        {% endif %}
                        {{form|crispy }}

                    {% endfor %}

                {% csrf_token %}

                <input type="submit" value="Save" class="button-primary">

            </form>
        
        {% else %}
            <p><strong>No linked student accounts</strong></p>

             <p>Please advise students to use the Request Supervisor Approval link in their account settings.</p>

        {% endif %}

    </div>

{% endblock content %}