{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Request supervisor pre-approval{% endblock title %}

{% block content %}

    <div class="container half-width">
        <h1>Request supervisor pre-approval</h1>

        <p>Enter your supervisor's email and submit. They will be notified to login and choose which accounts to associate with your account.</p>

        <p>You will then be able to place orders without waiting for approval each time.</p>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Request pre-approval" class="button-primary">
        </form>
    </div>

{% endblock content %}