{% extends '_base.html' %}

{%block title %}Information about online ordering{% endblock %}

{% block content %} 

    <div class="info-content">
        <h1>About online oligo/sequencing submission</h1>

        <div class="info-section">
            <h2>Account Registration</h2>

                <p>This needs to be done one time only for each new user. Go to online registration page and select "Yes" if you are an internal customer (i.e. University of Guelph) or "No" if you are an external customer. Fill in requested information.</p>

                <p>Once registered, you can perform oligo and sequencing submission online and retrieve your oligo and sequencing data very conveniently.</p>
        </div>

        <div class="info-section">

            <h2>Order Oligos</h2>

                <ul>
                    <li>Select the number of oligos you want to order.</li>
                    <li>Enter all oligo names and sequences.</li>
                    <li>Select scale and purity options.</li>
                    <li>Specify any modification information for each oligo (e.g. 5'-FAM labeling), or leave it as is.</li>
                    <li>Click "proceed" button.</li>
                    <li>A review page will be displayed. Verify your oligo sequences carefully. If you need to make any corrections, use the "Back" button on your browser to do so.</li>
                    <li>Once the order is placed, you may not change any oligo information by yourself. Contact our administrator as soon as possible if you want to make any modification to your oligo.</li>
                    <li>For your convenience, an easy-to-order page is also available so that you can submit hundreds of oligos simultaneously. In this case, the scale and purification options will apply to all oligos submitted as one batch.</li>
                </ul>

                <p>Following your order, you will receive an automatic e-mail confirmation.</p>

                <p>Our oligo processing system will take your order directly from the internet into database and the synthesis machine so that the accuracy of your oligo sequences will be automatically guaranteed.</p>
        
        </div>

        <div class="info-section">

            <h2>Submit Samples for Sequencing</h2>

            <ul>
                <li>Click the "Order" link under Sequences on the toolbar.</li>
                <li>Select the account to be billed.</li>
                <li>Select the number of templates and the number of primers you are going to provide with this submission. If you only use common primers such as M13_forward, which is supplied by Lab Services free of charge, enter zero. Otherwise, enter the number of primers YOU will provide.</li>
                <li>Enter template and primer concentration, volume and other requested information.</li>
                <li>Specify the template and primer combinations on the next page, then click "Finish my submission" to finalize the submission.</li>
                <li>A Sequencing Request Form page will be displayed. Please make sure you PRINT this page out and submit it with your samples to the Lab. Please also label your bags or boxes with the Submission ID as shown on the Sequencing Request Form. Failure to do so may result in that your samples are not accepted or delayed for processing.</li>
                <li>If you forget to print the Sequencing Request Form at the last step, you can always access this page by first clicking "My Seqs" on the Tool bar, then clicking the "Submission ID".</li>
            </ul>

    </div>

    <div class="info-section">
        <h2>Billing</h2>
        
        <p>You can use any account for billing for a particular order. Billing is always going to the most updated account when the order was placed. If you want to use a different account from last time for an order that you are about to place, simply update you billing account number before placing the order.</p>
    </div>

    <div class="info-section">
        <h2>Record Tracking</h2>
        <p>You may check your own oligo ordering record on-line by clicking "View Ordering" on the title bar. We recommend you click this link immediately after each submission to make sure that the order is properly placed.</p>
    </div>

    <div class="info-section">
        <h2>Account Information Updating</h2>
        <p>You may modify your own account information by clicking "Update Account" on the title bar. You may change any information including login name, password, billing account number etc, but not your name.</p>
    </div>

    <div class="info-section">
        <h2>Activate/Deactivate Account</h2>
        <p>If you are leaving the university or changing a supervisor, please call or email us to deactivate your account so that others cannot use your account.</p>
    </div>

    <div class="info-section">
        <h2>Pricing</h2>
        <p>Follow this link for pricing information.</p>
    </div>

    <div class="info-section">
        <h2>Contact Information</h2>
        <p>95 Stone Road West,<br>Guelph, Ontario<br>N1H 8J7 Canada</p>
        <p>Phone: (519)823-1268 x57210</p>
        <p>Email: oligo@uoguelph.ca or sequence@uoguelph.ca</p>    
    </div>

{% endblock content %}
