{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{%  sass_src 'css/styles.scss' %}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/favicon.ico' %}"
    />
    <title>
      {% block title %}Welcome{% endblock title %} - Oligo and Sequencing
      Website
    </title>
  </head>
  <body>
    <header role="banner">
      <div id="ugls-header-banner" class="ugls-header-banner">
        <div id="ugls-header" class="ugls-header">
          <div class="ugls-identifier">
            <a href="https://www.uoguelph.ca">
              <img src="{% static "images/ugls-identifier.svg" %}"
              alt="University of Guelph Logo" style="width: 175px; height: auto;
              margin-left: auto;">
            </a>
          </div>
        </div>
      </div>
    </header>

    {% if user.is_authenticated %} {% include '_nav.html' %} {% endif %}

      {% if messages %}
        <div class="messages-container">
          {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %}class="{{message.tags}}"{% endif %}>{{ message }}</div>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    

      {% block content %} {% endblock content %}

    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
