
<div class="bg-blue-800 rounded-b-md py-2 px-4 flex-column w-100 flex flex-row justify-center items-center">
    <div class="border border-blue-400 w-28 rounded-lg py-1 px-2  bg-blue-500 mx-2">
        <div class="border-b-2 border-blue-500 text-center font-bold text-blue-100">Oligos</div>
        <div class="flex-row">
            <a href="#" class="text-yellow-300">Order</a> <span class="text-blue-300">|</span> 
            <a href="#" class="text-yellow-300">View</a>
        </div>
    </div>

    <div class="border border-blue-400 w-28 rounded-lg py-1 px-2 bg-blue-500 mx-2">
        <div class="border-b-2 border-blue-500 text-center font-bold text-blue-100">Sequencing</div>
        <div class="flex-row">
            <a href="#" class="text-yellow-300">Order</a> <span class="text-blue-300">|</span> 
            <a href="#" class="text-yellow-300">View</a>
        </div>
    </div>

    <div class="border border-blue-500 rounded-lg bg-blue-500 mx-2 border border-blue-400 py-1 px-3">
        <a href="{% url 'account_logout' %}" class="font-bold text-blue-100">Log out!</a>
    </div>

</div>
